#SalesPosRptFilter{
    .header{
        background-color: #dedede;
 .list-md{
            margin: 0px;
    }
    .item-md{
        height: 50px;
    padding-left: 7px;
    padding-right: 7px;
    }
    .item-md.item-block .item-inner{padding-right: 0;}
    .label-md{margin: 0}
    .item:last-child{padding-right:10px;} 
    .head{
        height: 35px;
        line-height: 35px;
        text-align: right;  
        padding-right:5px; 
                         
    }
    ion-grid{
        ion-row{
            ion-col:last-child{
                .head{
                    padding-right: 15px
                }
            }

        }
    }
    }

    .item{
        font-size: 12px;
    color: #717177;
    text-align: right;
    padding-left: 0;   
     line-height: 40px;
    padding: 0 5px; 
    min-height: 40px;
    ion-grid{
        ion-row{
            ion-col:first-child{
                .listItem{
                text-align: left;
            }
        }
        }
    }
    
    }
     .item-md.item-block .item-inner{
            padding-right: 0px;
            border-bottom: 0p;
            }
            .label-md{
                margin: 0;
            }
            ion-grid, ion-col{
                padding: 0;
            }
            .scroll-content{
                margin-top: 96px !important;
            }       
            ion-item:nth-child(3n+0) {
                background: #d2d1e6;
                color: #000;
                min-height: 20px;
                line-height: 20px;
            }     
    }
   
