<!--
  Generated template for the ShiftPosRptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="shift-rpt">

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Shift Production Report</ion-title>
  </ion-navbar>
  <div class="header">
    <div class="tbheader">
        <ion-grid>
            <ion-row>
              <ion-col align-self-start col-7>
                <div class="itemTitle">
                 Item
                </div>
              </ion-col>
              <!-- <ion-col align-self-start col-3>
                <div class="Mode">
                  Mode
                </div>
              </ion-col> -->
              <ion-col align-self-start col-2>
                <div class="ton">
                Ton
                </div>
              </ion-col>
              <ion-col align-self-start col-3>
                <div class="amount">
               Amount
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>  
    </div>
      

      <ion-item *ngFor="let Data of getData | slice:0:2;">
          <ion-grid>
              <ion-row>
                <ion-col align-self-start col-6>
                  <div class="title" text-wrap>
                      {{Data.Title}}
                  </div>
                  </ion-col>
                  <ion-col align-self-start col-3>
                      <div class="ton">
                          {{Data.Ton}}
                      </div>
                      </ion-col>
                      <ion-col align-self-start col-3>
                          <div class="amount">
                              {{Data.Amount}}
                          </div>
                          </ion-col>
              </ion-row>
              </ion-grid>
              </ion-item>
  </div>
</ion-header>


<ion-content id="shift-rpt">
    <ion-list>
        <ion-item *ngFor="let Data of getData | slice:2:10;">
    <ion-grid>
        <ion-row>
          <ion-col align-self-start col-6>
            <div class="title" text-wrap>
                {{Data.Title}}
            </div>
            </ion-col>
            <ion-col align-self-start col-3>
                <div class="ton">
                    {{Data.Ton}}
                </div>
                </ion-col>
                <ion-col align-self-start col-3>
                    <div class="amount">
                        {{Data.Amount}}
                    </div>
                    </ion-col>
        </ion-row>
        </ion-grid>
        </ion-item>
        </ion-list>

  <!-- <ion-card *ngFor="let Data of getData">
    <ion-item class="card-item">
      <ion-avatar item-end class="left-item">
        <ion-badge item-end class="item-name">{{Data.Ton}}</ion-badge>
      </ion-avatar>
      <p>{{Data.Title}}</p>
      <ion-avatar item-end>
        <ion-badge item-end>{{Data.Amount}}</ion-badge>
      </ion-avatar>
    </ion-item>
  </ion-card>
</ion-content> -->

<ion-footer>
  <div class="total">
    <ion-item>
      <h2>Total</h2>
      <p></p>
      <ion-avatar item-end>
        <ion-badge item-end>{{rTotal}}</ion-badge>
      </ion-avatar>
    </ion-item>
  </div>
</ion-footer>